{% extends "layout.html" %}

{% block title %}
Message
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<div class="text-right h6">
    <a href="/logout"> Logout</a>
</div>
<div class="alert alert-success p-1">
    <h5>{{ message }}</h5>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a href="#msgs" class="nav-link active" data-toggle="tab" role="tab">Form</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="msgs" ole="tabpanel">
        <h5 class="p-3 h5 text-center">
            * post messages *
        </h5>
        <ul class="list-group list-group-flush">
            {% for item in data | reverse %}
                <li class="list-group-item">
                    {{item[1]}} ({{item[0]}})
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="logout"><a href="/logout">Logout</a></div>
<p>{{ message }}</p>
<form action="/" method="post">
    <table>
        <tr>
            <th>Message</th>
            <td>
                <input type="text" name="comment" width="80">
            </td>
            <td>
                <input type="submit" value="POST NOW!">
            </td>
        </tr>
    </table>
</form>
<ul>
    {% for item in data | reverse %}
        <li>{{item[1]}} ({{item[0]}})</li>
    {%  endfor %}
</ul>
{% endblock %}

{% block footer %}
copyright 2019 SYODA-Tuyano.
{% endblock %}